.App {
  width: 100%;
  max-width: 430px;
  height: 100vh;
  margin: auto;
  display: flex;
}

.app-wrapper {
  width: 100%;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 42px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
